

Content/Frostbite/Ballistics/BulletImpactSounds/
Content/Frostbite/Ballistics/Decals/
Content/Frostbite/Ballistics/DemoMap/
Content/Frostbite/Ballistics/FirstPersonBPExamples/
Content/Frostbite/Ballistics/FXProps/
Content/Frostbite/Ballistics/FXSpawnerBlueprints/
Content/Frostbite/Ballistics/GunImpacts/
Content/Frostbite/Ballistics/Particles/
Content/Frostbite/Ballistics/PhysMats/
Content/Frostbite/Ballistics/SFX/
Content/Frostbite/Ballistics/

Content/Frostbite/ConeSurvival/

Content/Frostbite/CSC/Animations/
Content/Frostbite/CSC/Blueprints/
Content/Frostbite/CSC/Demo/
Content/Frostbite/CSC/Maps/
Content/Frostbite/CSC/Materials/
Content/Frostbite/CSC/Meshes/
Content/Frostbite/CSC/Textures/
Content/Frostbite/CSC/

Content/Frostbite/Effects/Death_Blossom/
Content/Frostbite/Effects/Impacts/
Content/Frostbite/Effects/Outline/
Content/Frostbite/Effects/RefractionPanel/
Content/Frostbite/Effects/Sparks/
Content/Frostbite/Effects/Steam/
Content/Frostbite/Effects/ThirdPersionBP/
Content/Frostbite/Effects/Weapons/
Content/Frostbite/Effects/

Content/Frostbite/Enumerators/

Content/Frostbite/Explosions/DemoRoom/
Content/Frostbite/Explosions/Maps/
Content/Frostbite/Explosions/Mats/
Content/Frostbite/Explosions/Mesh/
Content/Frostbite/Explosions/Particles/
Content/Frostbite/Explosions/Textures/
Content/Frostbite/Explosions/VF/
Content/Frostbite/Explosions/

Content/Frostbite/Glitch/Textures/
Content/Frostbite/Glitch/

Content/Frostbite/Terminals/Blueprints/
Content/Frostbite/Terminals/DemoContent/
Content/Frostbite/Terminals/Fonts/
Content/Frostbite/Terminals/Maps/
Content/Frostbite/Terminals/Materials/
Content/Frostbite/Terminals/Mesh/
Content/Frostbite/Terminals/Sounds/
Content/Frostbite/Terminals/Textures/
Content/Frostbite/Terminals/UserInterface/
Content/Frostbite/Terminals/

Content/Frostbite/UI/WeaponHUDSys/
Content/Frostbite/UI/

Content/Frostbite/ProcWeapSys/




Binaries
DerivedDataCache
Intermediate
Saved
Source
Config
Plugins
Frostbite
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace